body {
    font-family: Arial, sans-serif;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 0px 10px;
    position: relative;
}

h2 {
    margin: 0;
}

.icon-btn {
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em; /* approx 1 inch */
    height: 5em; /* approx 1 inch */
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-right: 24px; /* approx 0.25 inches */
}

.close-btn::before {
    content: '\00D7';
    font-size: 20px;
    top: 10px;
    right: 15px;
}

.timer-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px; /* approx 3 inches */
    height: 192px; /* approx 2 inches */
    margin: 35px auto 35px;
    font-size: 2em;
    border: 2px solid #ccc;
    padding: 15px 0;
    background-color: #fff;
}

.time-section {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px;
}

.time-component span:not(.arrow) {
    font-size: 2.00em;
    vertical-align: middle;
}

.time-component .arrow {
    color: blue;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.5em;
}

.time-component input {
    border: none;
    font-size: 2.00em;
    width: 35px;
    text-align: center;
    background-color: transparent;
}

.time-component input:focus {
    outline: none;
    border-bottom: 2px solid blue;
}

.icon-btn img { /* Adjust the image size here */
    width: 75%;  /* smaller percentage will make the image smaller, and vice versa */
    height: 75%; /* adjust as per your design requirement */
    max-width: 100%;
    max-height: 100%;
}

.clear-btn, .reset-btn {
    width: 48px; /* approx 0.5 inch */
    height: 48px; /* approx 0.5 inch */
}

.arrow.disabled {
    color: #888888;
    cursor: not-allowed;
}

.icon-play::before {
    content: '\25B6';
    color: green;
    font-size: 2em;
    line-height: 1;
}

.icon-pause::before {
    content: '\275A\275A';
    color: red;
    font-size: 2em;
    line-height: 1;
}


/* Add this CSS rule to style the lock button as needed */
.icon-btn.lock-btn {
    width: 1.2em;
    height: 1.2em;
    background-color: #f4f4f4;
    border-radius: 50%;
    font-size: 10em;
}
.lock-container {
    margin-top: 20px; /* Adjust as needed for vertical spacing */
    display: flex;
    align-items: center;
    justify-content: center;
}
.private-timer-btn-container {
    margin: 20px auto; /* This centers the button and adds a top margin for spacing */
    margin-top: 20px; /* Adjust as needed */
}

.launch-button, .refresh-button {
    display: flex;
    height: 50px;
    padding: 0 8px; /* Padding on the sides of the button */
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0;
    width: fit-content;  /* fit the width to the content */
    position: relative;  /* To ensure the icon is positioned relative to the button */
}
.launch-button__text, .refresh-button__text {
    color: #fff;
    align-self: center; /* vertically centers the text */
    padding-right: 30px;  /* Adding padding to the right of the text so there's space before the image */
    flex-grow: 1;  /* This will make the text take all the available space and push the image to the right */
}
.launch-button__icon, .refresh-button__icon {
    width: 50px;  /* The width of the square container */
    height: 50px; /* The height of the square container */
    background: rgba(0, 0, 0, 0.08);
    position: absolute;  /* So it doesn't affect the positioning of other elements */
    right: 0;  /* To place it on the right edge of the button */
    top: 0;  /* To start it at the top of the button */
    display: flex;
    align-items: center;
    justify-content: center;  /* This centers the image within the square */
}
.launch-button__icon img, .refresh-button__icon img {
    max-width: 70%;  /* This scales down the image to fit inside the square */
    max-height: 70%; /* Ensuring the image is contained within the square */
}
.launch-button {
    background: #009578;
}
.launch-button:hover {
    background: #008168;
}
.launch-button:active {
    background: #006e58;
}
.refresh-button {
    margin-bottom: 20px; /* Adjust this value according to the space you want */
    background: #007BFF;
}
.refresh-button:hover {
    background: #0069d9;
}
.refresh-button:active {
    background: #0056b3;
}
